@model WebAdvert.Web.Models.Accounts.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email</h4>
<hr />

<form class="row g-3" method="post" asp-controller="Accounts" asp-action="ForgotPassword">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-md-12 mb-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </div>
</form>

