@model WebAdvert.Web.Models.Accounts.ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<form class="row g-3" method="post" asp-controller="Accounts" asp-action="ResetPassword">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-md-12 mb-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-2">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-2">
            <label asp-for="ConfirmPassword" class="form-label" ></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-3">
            <label asp-for="Code" class="form-label" ></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-secondary">Signup</button>
        </div>

    </div>
</form>

